* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 40px;
}

.container {
  max-width: 600px;
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2,
h3 {
  margin: 30px 0;
}

hr {
  height: 1px;
  background-color: #F39C12;
}

.h3-promedio {
  margin: 10px;
}

.module-section {
  display: none;
}

.module-section.active {
  display: block;
}


.pregunta {
  display: none;
}

.pregunta.active {
  display: block;
}


/*button colors*/

.btn-form-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;

}

.btn-form {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-form i {
  font-size: 30px;

}

.banner-buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.btn-green {
  background-color: #28a745;
  color: white;
}

.btn-green:hover {
  background-color: green;
}

.btn-red {
  background-color: #dc3545;
  color: white;
}

.btn-red:hover {
  background-color: red;
}

.btn-blue {
  background-color: #2D1C7D;
  color: white;
  font-weight: bold;

}

.btn-blue:hover {
  background-color: rgb(6, 6, 51);
  color: white;
}

#incident-btn:hover {
  background-color: #dc3545;
  color: white;
}

.btn-gray {
  background-color: #979A9A;
  color: white;
}

.btn-orange {
  background-color: goldenrod;
  color: white;
}

.btn-orange:hover {
  background-color: rgb(240, 106, 17);
  color: white;
  font-weight: bold;
}

.btn-na {
  background-color: gold;
  color: white;
}

/*report-table*/
.audit-summary {
  width: 100%;
  margin: 20px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.table thead th {
  background-color: #b3d9ff;
  font-weight: bold;
}

.table tbody td:first-child {
  font-weight: bold;
}

.nota-item {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
}


/*ficha y leyenda de colores para pantallas peques*/
.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ficha-resumen-table {
  width: 90%;
  margin-bottom: 20px;
}

.puntaje-ponderado {
  text-align: center;
  width: 90%;
}

.td-promedio {
  background-color: yellow;
  font-weight: bold;
}

@media (min-width: 769px) {
  .responsive-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .ficha-resumen-table,
  .puntaje-ponderado {
    width: 45%;
    margin-bottom: 0;
  }
}


/* Estilos personalizados para la tabla de auditoria para la pantallas chicas y grandes */
.audit-summary {
  font-size: 10px;
}

.table-sm td,
.table-sm th {
  padding: 0.3rem;
}

@media (max-width: 576px) {
  .audit-summary {
    font-size: 8px;
  }

  .table-sm td,
  .table-sm th {
    padding: 0.2rem;
  }
}



/* Estilo para pantallas grandes */
.chart-container {
  position: relative;
  height: 43vh;
  width: 100%;
}

/* Estilo para pantallas medianas */
@media (max-width: 1024px) {
  .chart-container {
    height: 35vh;
  }
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
  .chart-container {
    height: 23vh;
  }
}

/* Estilo para pantallas muy pequeñas */
@media (max-width: 576px) {
  .chart-container {
    height: 21vh;
  }
}