body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}

.container {
  max-width: 100%;
  width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  margin-bottom: 20px;
}



.module-section {
  display: none;
}

.module-section.active {
  display: block;
}


.pregunta {
  display: none;
}

.pregunta.active {
  display: block;
}

.btn-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-form {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
